/* Ipad */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #08131b;
}

.container {
    margin: 45% 8% 0;
}

.heading {
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    margin: 0 5%;
}

#password {
    font-size: 25px;
    width: 70%;
    padding: 8px 10px;
    border: 0;
    outline: 0;
    border-radius: 2px;
    cursor: default;
    margin: 3% 5%;
}

.heading span {
    color: #ee852a;
}

.generate-button {
    border: 0;
    outline: 0;
    color: #fff;
    background-color: #ee852a;
    font-size: 25px;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 2% 5%;
    cursor: pointer;
}